<% content_for :title do %>APP_CAMEL<% end %>

<%= render 'APP_NAME/pages/header' %>

<div id='hero' style='background-image: url(<%= image_path "background4.png" %>)'>
	<h1>APP_CAMEL</h1>
	<h2>APP_CAMEL</h2>
</div>

<%= render 'APP_NAME/pages/footer' %>